<<<<<<< HEAD
@media only screen and (max-width: 425px) {
  .grid-cols-2 {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .grid-cols-2 section:nth-of-type(1) {
    order: 2;
  }
  #conten-pic {
    margin: 0 2rem 0 2rem;
  }
  h1 {
    font-size: xx-large;
    margin-bottom: 1rem;
  }
  p {
    padding: 0 2rem;
    font-size: medium;
  }
}

@media only screen and (max-width: 320px) {
  #conten-pic {
    margin: 0 1rem;
  }
=======
#vecOrna {
  background-image: url(/img/abstract.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
>>>>>>> 02d7dea3439c6d9cdd8cfffa9d11d01df8e43edd
}
